.weather {
  place-self: center;
  padding: 80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: rgb(81, 81, 159);
}

.search-bar {
  width: 100%;
  max-width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 15px;
  background-image: linear-gradient(100deg, #2f4680, #500ae4);
  border-radius: 30px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ebfffc;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.weather-icon{
   width: 150px;
   margin: 30px 0; 
}
.temperature{
    color: #fff;
    font-size: 40px;
    line-height: 1;
}
.location{
     color: #fff;
    font-size: 20px;
    
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;

}
.weather-data .col{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;

}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
    
}